<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" type="png" href="{% static 'images/LOGO.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Profile.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    {% comment %} Nav start  {% endcomment %}
<nav class="navbar navbar-expand-md sticky-top border-bottom "  style="background-color: rgb(47, 62, 70);" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand d-md-none" href="#">
        <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
        Aperture
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 justify-content-between">
            {% comment %} <li class="nav-item"><a class="nav-link" href="#">
              <svg class="bi" width="24" height="24"><use xlink:href="#aperture"></use></svg>
            </a></li> {% endcomment %}
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'adminacess' %}">Create Patient</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'MessageDisplay' %}">Meeting Minutes</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Meetbot' %}">Meet Bot</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'SendMessage' %}">Send Message</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'SeeMessage' %}">Messages</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'Profile' %}">Profile</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'registerauthentication' %}">Admin</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

              <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  {% comment %} Nav End  {% endcomment %}


  <div style="background-color: rgb(82, 121, 111); border-radius: 10px; padding: 20px; margin: 20px auto; max-width: 600px; width: 90%; text-align: left; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <h1 style="text-align: center; margin-bottom: 20px;">User Profile</h1>
    {% for data in Profiledata %}
        <img src="{% static data.FilePath %}" alt="Profile Image" style="display: block; margin: 0 auto 10px; max-width: 150px; max-height: 150px; border-radius: 10px;">
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Name :</strong> {{ data.Name|default:"N/A" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Number :</strong> {{ data.Number|default:"N/A" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Email :</strong> {{ data.Email|default:"N/A" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>City :</strong> {{ data.City|default:"N/A" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Blood Group :</strong> {{ data.BloodGroup|default:"Not Mentioned" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Age :</strong> {{ data.Age|default:"Not Mentioned" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Gender :</strong> {{ data.Gender|default:"Not Mentioned" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Emergency Contact :</strong> {{ data.EmergencyContact|default:"None" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Specialization :</strong> {{ data.Specilazitation|default:"None" }}</p>
        <p style=" margin: 5px 0; padding: 10px; background: rgba(53, 79, 82); border-radius: 5px;"><strong>Role :</strong> 
            {% if data.Doctor %}
                Doctor
            {% elif data.Patient %}
                Patient
            {% else %}
                Super
            {% endif %} 
        </p>
    {% endfor %}
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'Editprofile' %}" class='btn btn-primary' style="display: inline-block; padding: 10px 15px; font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif; text-decoration: none; border-radius: 5px;">Go to Edit Profile</a>
    </div>
</div>





    {% comment %} <div class="profile">
        <h1>User Profile</h1>
        {% for data in Profiledata %}

            <img src="{% static data.FilePath %}" alt="Profile Image">
            <p><strong>Name:</strong> {{ data.Name|default:"N/A" }}</p>
            <p><strong>Number:</strong> {{ data.Number|default:"N/A" }}</p>
            <p><strong>Email:</strong> {{ data.Email|default:"N/A" }}</p>
            <p><strong>City:</strong> {{ data.City|default:"N/A" }}</p>
            <p><strong>Blood Group:</strong> {{ data.BloodGroup|default:"Not Mentioned" }}</p>
            <p><strong>Age:</strong> {{ data.Age|default:"Not Mentioned" }}</p>
            <p><strong>Gender:</strong> {{ data.Gender|default:"Not Mentioned" }}</p>
            <p><strong>Emergency Contact:</strong> {{ data.EmergencyContact|default:"None" }}</p>
            <p><strong>Specilazitation:</strong> {{ data.Specilazitation|default:"None" }}</p>
            {% if data.Doctor %}
                <p><strong>Role:</strong> Doctor</p>
            {% elif data.Patient %}
                <p><strong>Role:</strong> Patient</p>
            {% else %}
                <p><strong>Role:</strong> Super</p>
            {% endif %}
            
        {% endfor %}
        <div>
            <a href="{% url 'Editprofile' %}" class="button">Go to Edit Profile</a>
        </div>
    </div> {% endcomment %}

    {% comment %} footer start {% endcomment %}
       
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-auto border-top cont" style="background-color: rgb(47, 62, 70);  bottom: 0; width: 100%; z-index: 1000;">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><i ></i></svg>
          </a>
          <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex pe-3">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/akshaay-10-" target="_blank"><i class="bi bi-linkedin"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/akshaay_10/" target="_blank"><i class="bi bi-instagram"></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://wa.me/9150854710" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
        </ul>
    </footer>
    
  
  
  {% comment %} footer end {% endcomment %}

</body>
</html>
